* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

.container {
  max-width: 600px;
  margin: 0 auto;
  overflow: auto; }

.text-center {
  text-align: center; }

.m-t {
  margin-top: 40px; }

.m-b {
  margin-bottom: 40px; }

.nav-flex {
  display: flex;
  justify-content: space-around; }

.nav:hover {
  cursor: pointer; }

.bg-blue {
  background: #3C76AE; }

.bg-dark {
  background: black; }

.bg-whitish {
  background: #f5f5f5; }

.font-white {
  color: #ffffff; }

.font-blue {
  color: blue; }

.inline-block {
  display: inline-block; }

.hidden {
  visibility: hidden; }

/* nav bar */
/* square blocks */
.square {
  border-radius: 10px;
  margin: 1.66%;
  width: 30%;
  padding-bottom: 30%;
  float: left; }

h1 {
  font-size: 3rem; }

h3 {
  font-size: 3rem;
  font-weight: 300; }

h4 {
  color: black;
  align-self: center; }

#randomRGB {
  display: block; }

button {
  height: auto;
  width: 70px;
  font-weight: 600;
  transition: all 0.3s; }
  button:hover {
    background: blue;
    border-color: blue;
    color: white; }

.stripe {
  height: 40px;
  display: flex; }

.selected {
  background: blue;
  border-color: blue; }
